<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="sidebar-overlay">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      {% include header.html %}

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    {% include footer.html %}
    {% include foot.html %}

  </body>
</html>
